<BottomNavigation class="app"
				  backgroundImage="~/images/background/tab-background.jpg">
	<TabStrip class="app__tabs">
		<TabStripItem class="app__tab">
			<Label text="Campaign"></Label>
			<Image src="font://&#xf279;"
				   class="fas"></Image>
		</TabStripItem>
		<TabStripItem class="app__tab">
			<Label text="Parties"></Label>
			<Image src="font://&#xf0c0;"
				   class="far"></Image>
		</TabStripItem>
		<TabStripItem class="app__tab">
			<Label text="Characters"></Label>
			<Image src="font://&#xf007;"
				   class="far"></Image>
		</TabStripItem>
		<TabStripItem class="app__tab">
			<Label text="Scenario"></Label>
			<Image src="font://&#xf0b2;"
				   class="fas"></Image>
		</TabStripItem>
	</TabStrip>

	<TabContentItem>
		<page-router-outlet name="campaignTab"></page-router-outlet>
	</TabContentItem>

	<TabContentItem>
		<page-router-outlet name="partiesTab"></page-router-outlet>
	</TabContentItem>

	<TabContentItem>
		<page-router-outlet name="charactersTab"></page-router-outlet>
	</TabContentItem>

	<TabContentItem>
		<page-router-outlet name="scenarioTab"></page-router-outlet>
	</TabContentItem>
</BottomNavigation>
