.scenario {
	font-size: 16;
	font-family: "Philosopher-Bold";
	color: black;
	background: url("~/images/background/background.jpg");
	background-size: contain;

	&__title {
		margin-top: 10;
	}

	&__image {
		border-radius: 28%;
		margin: 10
	}
}
